/.idea
/autom4te.cache
/build
/config.h.in
/config.h.in~
/configure~
/configure
/configure.ac
/deps
/libui
/run-tests.php
#./configure
/Makefile
/Makefile.fragments
/Makefile.objects
/config.h
/config.log
/config.nice
/config.status
/libtool
.libs
*.dep
*.lo
*.loT
/modules
/ui.la
#{tasks,launch}.json helpers
/*-helper.log
/*-helper-*.log
# too personal
/.vscode/launch/*-vphpX_*
/.vscode/launch/*-vphpX.*
/.vscode/launch/*-vphpK_*
/.vscode/launch/*-vphpK.*
/launch-task.php
# personal (it's an em-dash)
*—*
# later
/.cache
/compile_commands.json
/.docker/docker-compose.extend.local.yml
# .docker/services/ui/win.ps1
/.docker/services/ui/win-key.json
# failed, stranded, & abandoned attempt
/.docker/services/ui/Dockerfile-win
/.docker/services/ui/ctx-1-local.sh
/.docker/services/ui/ctx-1.go
/.docker/services/ui/ctx-n.sh
# personal
personal-dev-test.sh

