/.idea
/autom4te.cache
/build
/config.h.in
/config.h.in~
/configure~
/configure
/configure.ac
/deps
/libui
/run-tests.php
#./configure
/Makefile
/Makefile.fragments
/Makefile.objects
/config.h
/config.log
/config.nice
/config.status
/libtool
.libs
*.dep
*.lo
*.loT
/modules
/ui.la
#{tasks,launch}.json helpers
/*-helper.log
/*-helper-*.log
# too personal
/.vscode/launch/*-vphpX_*
/.vscode/launch/*-vphpX.*
/.vscode/launch/*-vphpK_*
/.vscode/launch/*-vphpK.*
/launch-task.php
# later
/.cache
/compile_commands.json
